@font-face {
  font-family: "iconfont"; /* Project id 3526433 */
  src: url('iconfont.woff2?t=1658408151058') format('woff2'),
       url('iconfont.woff?t=1658408151058') format('woff'),
       url('iconfont.ttf?t=1658408151058') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mima:before {
  content: "\e600";
}

.icon-wuliu:before {
  content: "\e75f";
}

.icon-huiyuan:before {
  content: "\e8b1";
}

.icon-cangkukucun:before {
  content: "\e633";
}

